.body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar Section */

.background-navbar {
    background-color: rgb(32, 152, 221);
}

@media screen and (max-width: 992px) {
    .nav-image {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .nav-logo {
        display: none;
    }
}

.nav-size {
    font-size: 26px;
}

.nav-loupe {
    color: white;
    border: solid 2px;
}

.img-border-profil {
    border-radius: 100%;
}

.img-title-profil {
    font-weight: bold;
    background-color: white;
    text-transform: uppercase;
}
